<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="TbProductMapper">
 <cache type="org.mybatis.caches.ehcache.EhcacheCache"
        eviction="LRU"
        flushInterval="60000"
        size="1024"
        readOnly="true"/>
	
	
	<!-- 新增-->
	<insert id="save" parameterType="pd"  keyProperty="F_PRODUCT_ID" useGeneratedKeys="true" flushCache="true">
		    
		insert into TB_PRODUCT(
			F_PRODUCTNAME,	
			F_PRODUCTPIC,
			F_PRODUCTDESC,	
			F_PRICE,	
			F_CLSID,	
			F_ISSPECIAL
		) values (
			#{F_PRODUCTNAME},
			#{F_PRODUCTPIC},	
			#{F_PRODUCTDESC},	
			#{F_PRICE},	
			#{F_CLSID},	
			#{F_ISSPECIAL}
		)
		
		<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
	          SELECT LAST_INSERT_ID() AS id
	    </selectKey>
	    
	</insert>
	
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from TB_PRODUCT
		where 
			F_PRODUCT_ID = #{F_PRODUCT_ID}
	</delete>
	
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd" >
		update  TB_PRODUCT
			set 
				F_PRODUCTNAME = #{F_ProductName},
				F_PRODUCTDESC = #{F_PRODUCTDESC},
				F_PRICE = #{F_PRICE},
				F_CLSID = #{F_CLSID},
				F_ISSPECIAL = #{F_IsSpecial}
			    where 
				F_PRODUCT_ID = #{F_PRODUCT_ID}
	</update>
	
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
	
	SELECT7y
	F_PRODUCTNAME,
	F_PRODUCTDESC,
	F_PRICE,
	F_CLSID,
	F_ISSPECIAL,
	F_PRODUCT_ID,
	F_Number,
	F_Express,
	(select F_ClsName From tb_class tc where tc.F_ClsId = tbproduct.F_CLSID)as F_CLSNAME,
	(select PATH From tb_pictures tbpictures where tbpictures.TABLE_UID_VALUE = tbproduct.F_PRODUCT_ID limit 0,1) AS PATH
FROM
	TB_PRODUCT tbproduct
WHERE  F_PRODUCT_ID = #{F_PRODUCT_ID}
	 
	</select>
	
	<!-- 通过F_CLSID获取数据 -->
	<select id="findByClassId" parameterType="page" resultType="pd" useCache="true">
	
		select 
			F_PRODUCTNAME,	
			F_PRODUCTDESC,	
			F_PRICE,	
			F_CLSID,	
			F_ISSPECIAL,	
			F_PRODUCT_ID,
			tbpictures.PATH as PATH
		from 
			TB_PRODUCT tbproduct,TB_PICTURES tbpictures
		where 
			tbproduct.F_ProductPic = tbpictures.PICTURES_ID   AND F_CLSID = #{pd.F_ClsId}
	</select>
	
	    <select id="findNewGood" parameterType="pd" resultType="pd" useCache="true">  
     select 
            F_PARENT_SKU,
			F_PRODUCTNAME,	
			F_PRODUCTDESC,	
			F_PRICE,	
			F_CLSID,	
			F_ISSPECIAL,	
			F_PRODUCT_ID,
			F_PATH,
			F_PATH1,
			F_PATH2,
			F_PATH3,
			F_PATH4,
			F_PATH5,
			F_PATH6,
			F_PATH7,
			F_PATH8
		from 
			tb_product tp  where F_Status = 1 AND  F_MAIN = 1  order by F_ProductTime desc  limit 0,10
	 </select>
   
   <select id="findNewHot" parameterType="pd" resultType="pd" useCache="true">
  	  
	    select 
	        F_PARENT_SKU,
			F_PRODUCTNAME,	
			F_PRODUCTDESC,	
			F_PRICE,	
			F_REAL_PRICE,
			F_CLSID,	
			F_ISSPECIAL,	
			F_PRODUCT_ID,
			F_PATH,
			F_PATH1,
			F_PATH2,
			F_PATH3,
			F_PATH4,
			F_PATH5,
			F_PATH6,
			F_PATH7,
			F_PATH8
		from 
			tb_product tp  where F_Status = 1  AND  F_MAIN = 1  order by F_Degree  desc  limit 0,6 
			
	  
   </select>
   
    <select id="findNewSpecial" parameterType="pd" resultType="pd" useCache="true">
 
     select 
            F_PARENT_SKU,
			F_PRODUCTNAME,	
			F_PRODUCTDESC,	
			F_PRICE,	
			F_REAL_PRICE,
			F_CLSID,	
			F_ISSPECIAL,	
			F_PRODUCT_ID,
			F_PATH,
			F_PATH1,
			F_PATH2,
			F_PATH3,
			F_PATH4,
			F_PATH5,
			F_PATH6,
			F_PATH7,
			F_PATH8
		from 
			tb_product tp  where F_Status = 1  and F_IsSpecial=0   AND  F_MAIN = 1   order by F_Degree  desc  limit 0,10 
 
	    
   </select>
   
	
	
	<select id="queryByParentSku" parameterType="pd" resultType="pd" useCache="true">  
     select 
            F_PRODUCT_ID,
            F_PARENT_SKU,
            F_SKU,
			F_PRODUCTNAME,	
			F_PRODUCTDESC,	
			F_SHOW_PRICE,
			F_PRICE,	
			F_REAL_PRICE,
			F_Number,
			F_Express,
			F_CLSID,
			F_ProductTime,
			F_Status,	
			F_ISSPECIAL,	
			F_Degree, 
			F_PATH,
			F_PATH1,
			F_PATH2,
			F_PATH3,
			F_PATH4,
			F_PATH5,
			F_PATH6,
			F_PATH7,
			F_PATH8,
			F_BRAND,
			F_COLOR,
			F_SIZE,
			F_LABEL,
			F_SALE_NUM
		from 
			tb_product tp  where F_Status = 1 AND F_PARENT_SKU = #{F_PARENT_SKU} order by F_ProductTime desc
			
   </select>
   
   
   <select id="findByColor" parameterType="pd" resultType="pd">  
     select 
            DISTINCT(F_COLOR) 
		from 
			tb_product tp  where F_Status = 1 AND F_PARENT_SKU = #{F_PARENT_SKU} order by F_ProductTime desc
			
   </select>
   
   <select id="findBySize" parameterType="pd" resultType="pd">  
     select 
            DISTINCT(F_SIZE) 
		from 
			tb_product tp  where F_Status = 1 AND F_PARENT_SKU = #{F_PARENT_SKU} order by F_ProductTime desc
			
   </select>
   
   
    <select id="findByClass" parameterType="com.jiuji.cn.business.tbclass.vo.TbClass" resultType="pd">  
     select 
            *
		from 
			tb_product tp  where F_Status = 1 AND F_MAIN=1  AND F_ClsId = #{FClsId} order by F_ProductTime desc limit 0,5
			
   </select>
   
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
				a.F_PRODUCTNAME,	
				a.F_PRODUCTDESC,	
				a.F_PRICE,	
				F_REAL_PRICE,
				a.F_CLSID,	
				a.F_ISSPECIAL,	
				a.F_PRODUCT_ID,
				F_PATH1,
				F_PATH2,
				F_PATH3,
				F_PATH4,
				F_PATH5,
				F_PATH6,
				F_PATH7,
				F_PATH8
		from 
				TB_PRODUCT a
		where 1=1 
		 <if test="pd.KEYWORD != null and pd.KEYWORD != ''"><!-- 关键词检索 -->
			and
				(
					 a.F_ProductName LIKE CONCAT(CONCAT('%', #{pd.KEYWORD}),'%')
					 or 
					 a.F_ProductDesc LIKE CONCAT(CONCAT('%', #{pd.KEYWORD}),'%') 
					 or
					 a.F_Price LIKE CONCAT(CONCAT('%', #{pd.KEYWORD}),'%') 
				)
		</if>
	</select>
	
		<!-- 列表 -->
	<select id="datalistPageCount" parameterType="page" resultType="int">
		select
				count(*) as count
		from 
				TB_PRODUCT a
		where 1=1 
		 <if test="pd.KEYWORD != null and pd.KEYWORD != ''"><!-- 关键词检索 -->
			and
				(
					 a.F_ProductName LIKE CONCAT(CONCAT('%', #{pd.KEYWORD}),'%')
					 or 
					 a.F_ProductDesc LIKE CONCAT(CONCAT('%', #{pd.KEYWORD}),'%') 
					 or
					 a.F_Price LIKE CONCAT(CONCAT('%', #{pd.KEYWORD}),'%') 
				)
		</if>
	</select>
	
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		        a.F_PRODUCT_ID,
				a.F_ProductName,	
				a.F_ProductPic,	
				a.F_ProductDesc,	
				a.F_Price,	
				a.F_ClsId,	
				a.F_ProductTime,
				a.F_Status,
				a.F_IsSpecial,
				a.F_Degree,
				a.F_PATH1,
			a.F_PATH2,
			a.F_PATH3,
			a.F_PATH4,
			a.F_PATH5,
			a.F_PATH6,
			a.F_PATH7,
			a.F_PATH8
		from 
				TB_PRODUCT a
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from TB_PRODUCT
		where 
			F_PRODUCT_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
 <select id="queryById" parameterType="string" resultType="pd">
    select 
            F_SKU,
			F_PRODUCTNAME,	
			F_PRODUCTDESC,	
			F_SHOW_PRICE,
			F_PRICE,	
			F_CLSID,	
			F_ISSPECIAL,	
			F_PRODUCT_ID,
			F_REAL_PRICE,
			F_Number,
			F_Express,
			F_PATH,
			F_PATH1,
			F_PATH2,
			F_PATH3,
			F_PATH4,
			F_PATH5,
			F_PATH6,
			F_PATH7,
			F_PATH8
		from 
			tb_product  
	  where F_Status = 1  AND F_PRODUCT_ID=#{FProductId,jdbcType=VARCHAR}
   </select>
   
 <select id="queryByProduct1" parameterType="pd" resultType="pd">
      select 
         PICTURES_ID,TITLE,NAME,PATH,CREATETIME,MASTER_ID,BZ from tb_pictures where TABLE_UID_VALUE=#{F_PRODUCT_ID,jdbcType=VARCHAR}
   </select>
   
   <select id="queryByProduct" parameterType="pd" resultType="pd" useCache="true">
      select 
         * from TB_PRODUCT where F_PRODUCT_ID=#{F_PRODUCT_ID,jdbcType=VARCHAR} AND F_STATUS = 1 
   </select>
   
   <select id="searchProduct" parameterType="com.jiuji.cn.business.tbproduct.vo.TbProduct" resultType="java.util.HashMap" useCache="true">
         select 
 (select F_ClsName from tb_class tc where  tc.F_ClsId = a.F_ClsId )AS F_ClsName,
  a.F_ClsId,
  a.F_ProductName,
  a.count
 from( 
   select count(*) as count,F_ProductName,F_ClsId from tb_product where  F_ProductName like  CONCAT('%','${FProductName}','%' )  group by F_ClsId LIMIT 0,8)a
  </select>
   
   
  <select id="queryByType"  parameterType="com.jiuji.cn.business.tbproduct.vo.TbProduct" resultType="pd" useCache="true"> 
    select 
         	F_PRODUCT_ID,
            F_PARENT_SKU,
			F_PRODUCTNAME,	
			F_PRODUCTDESC,	
			F_SHOW_PRICE,
			F_PRICE,	
			F_REAL_PRICE,
			F_Number,
			F_Express,
			F_CLSID,
			F_ProductTime,
			F_Status,	
			F_ISSPECIAL,	
			F_Degree, 
			F_PATH,
			F_PATH1,
			F_PATH2,
			F_PATH3,
			F_PATH4,
			F_PATH5,
			F_PATH6,
			F_PATH7,
			F_PATH8,
			F_BRAND,
			F_COLOR,
			F_SIZE,
			F_LABEL,
			F_SALE_NUM
		
      from TB_PRODUCT  where F_Status = 1  AND F_ClsId =   #{FClsId,jdbcType=INTEGER}    AND  F_MAIN = 1   
       
   </select>
   
	
</mapper>